@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-main-1: #0f62fe;
  --clr-main-2: #001d6c;
  --clr-main-3: #3ddbd9;
  --clr-white: #fff;
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 33%, 71%);
  --clr-grey-7: hsl(210, 29%, 89%);
  --clr-grey-8: hsl(200, 19%, 97%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1500px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  font-size: 12px;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-4);
}
a {
  text-decoration: none;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: var(--max-width);
}
.grid-center {
  display: grid;
  place-items: center;
  min-height: calc(100vh - 56px);
}
/*
=============== 
Navbar
===============
*/
nav {
  background: var(--clr-main-1);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.logo {
  cursor: pointer;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-white);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  outline: none;
}

.nav-toggle:hover {
  color: var(--clr-main-3);
}
.logo {
  height: 40px;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links a {
  color: var(--clr-main-1);
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  width: 100%;
  padding: 0.75rem 1.25rem;
  transition: var(--transition);
  text-decoration: none;
}
.links a:hover {
  background: var(--clr-main-3);
  color: var(--clr-white);
}
.social-icons {
  display: none;
}
.links-container {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 0;
  right: 0;
  box-shadow: var(--light-shadow);
}
.show-container {
  height: 100%;
  width: 100vw;
  max-width: 350px;
  z-index: 3;
  background: var(--clr-white);
}
.sidebar-header {
  display: none;
}
.show-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.close-btn {
  cursor: pointer;
  font-size: 2rem;
  text-align: right;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: hsla(209, 61%, 16%, 0.75);
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    position: relative;
    width: auto;
    box-shadow: none;
  }
  .links {
    display: flex;
    flex-direction: row;
    background: var(--clr-main-1);
  }
  .links a {
    display: inline-block;
    font-size: 0.95rem;
    padding: 0.5rem 0;
    color: var(--clr-white);
    margin-left: 3rem;
    text-align: right;
    width: 100%;
    white-space: nowrap;
  }

  .links a:hover {
    color: var(--clr-main-2);
    background: none;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}
/*
=============== 
Banner
===============
*/
.banner {
  background: var(--clr-main-1) url('../public/wave-bg.svg') no-repeat;
  background-position: 0 40vh;
  background-repeat: repeat-x;
  height: 100%;
  min-height: calc(100vh - 56px);
  text-align: center;
  display: grid;
  place-items: center;
  padding: 1rem;
}
.banner .container {
  padding: 1rem 0;
}
.heading {
  color: var(--clr-white);
  max-width: 700px;
  text-transform: none;
  line-height: 1.2;
  margin: 0 auto 1.5rem;
}
.banner p {
  color: var(--clr-white);
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.banner-image {
  margin-bottom: 1rem;
}
.btn-dark {
  color: var(--clr-white);
  background-color: var(--clr-main-2);
  text-transform: capitalize;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  display: block;
  max-width: 200px;
  margin: 0 auto;
  transition: var(--transition);
}
.btn-dark:hover {
  color: var(--clr-main-2);
  background-color: var(--clr-main-3);
  text-decoration: none;
}
/*
=============== 
Form
===============
*/
.form-container {
  background: var(--clr-white);
  max-width: 550px;
  padding: 2rem 3rem;
  margin: 4rem auto;
  border-radius: 1rem;
  border: 1px solid var(--clr-grey-7);
}

.form {
  margin: auto;
  width: 100%;
}
.form-heading {
  color: var(--clr-main-1);
  font-size: 2.5rem;
  text-align: center;
  margin: 0.5rem 0 2rem;
  text-transform: none;
  font-weight: 600;
}
.form-text {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
.form-group {
  margin-bottom: 0.75rem;
}
.form label {
  display: block;
  color: var(--clr-grey-4);
  font-weight: 600;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
}
.form input,
.form select,
.form textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: var(--clr-grey-5);
  border: 1px solid var(--clr-grey-7);
  border-radius: 5px;
}
.form-btn {
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border: none;
  background: var(--clr-main-1);
  color: var(--clr-white);
  transition: var(--transition);
  cursor: pointer;
}
.form-btn:hover {
  color: var(--clr-main-2);
  background-color: var(--clr-main-3);
}
.form-btn:disabled {
  background-color: var(--clr-grey-5);
  color: var(--clr-white);
}
.google-text {
  position: relative;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
  margin-bottom: 1rem;
}
.google-text p {
  color: var(--clr-grey-5);
  margin: 0;
  min-width: 50px;
}
.line-1,
.line-2 {
  width: 100%;
  height: 0;
  border: 1px solid var(--clr-grey-7);
}

.google-btn {
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #4285f4;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}
.google-btn:hover {
  background-color: #5796fc;
}
.btn-text {
  flex: 1;
  color: var(--clr-white);
}
.form-link {
  text-align: center;
  margin: 2rem 0 0;
}
.form-link a {
  color: var(--clr-main-1);
}
