/*
=============== 
Filter Form
===============
*/
.form {
  margin-bottom: 1.5rem;
}
.formContainer {
  background: var(--clr-white);
  max-width: var(--max-width);
  padding: 2rem 3rem;
  border-radius: 1rem;
  border: 1px solid var(--clr-grey-7);
}
.btnRow {
  display: flex;
  justify-content: flex-end;
}
.formRow {
  display: flex;
}
.formLabel {
  display: block;
}
.formInput {
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--clr-grey-7);
  margin-right: 1rem;
}
.formInputFlex1 {
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--clr-grey-7);
  margin-right: 1rem;
  flex: 1;
}
.formSelect {
  border-radius: 5px;
  padding: 0 1.5rem;
  border: 1px solid var(--clr-grey-7);
  width: 25%;
}
.formBtnWithIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--clr-main-1);
  color: var(--clr-white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin-left: 1rem;
}
.formBtnWithIcon:hover {
  color: var(--clr-white);
  text-decoration: none;
}
.formBtn {
  display: block;
  background: var(--clr-main-1);
  color: var(--clr-white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin-left: auto;
}
.formBtnWithIcon span {
  margin-left: 0.75rem;
}
.formGroupCenter {
  flex: 1;
  margin: 0 1rem;
}
/*
=============== 
Transaction List
===============
*/
.transactions {
  margin-top: 2rem;
}
.transactions h4 {
  font-size: 1.25rem;
}
.transactions p {
  margin-bottom: 0;
}
.leftCol {
  width: 60%;
}
.rightCol {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
.transactionItem {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--clr-grey-7);
  margin-bottom: 1rem;
  padding: 1.25rem 1.5rem;
  border-radius: 10px;
}
.itemTitle {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.itemDesc {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--clr-grey-4);
  margin: 0 1rem 0 0;
}
.itemIncome,
.itemExpense {
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--clr-white);
  border-radius: 10px;
}
.itemIncome {
  background-color: #2ecc71;
}
.itemExpense {
  background-color: #cb4335;
}
.itemDate {
  color: var(--clr-grey-6);
  font-weight: 600;
  margin-bottom: 0.15rem;
}
.itemAmount {
  text-align: right;
  min-width: 150px;
}
.amountLabel {
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.incomeText {
  color: #2ecc71;
}
.expenseText {
  color: #cb4335;
}
.incomeText,
.expenseText,
.balance {
  font-size: 1.5rem;
}
